* {
   
}

/* 漢堡選單 */
#menu_control{
    position: absolute;
    z-index: -2;
    opacity: 0;
  }
  .header{
    height: 100px;
    background-color:  #ffffff;;
    position: relative;
  }
  .mb_logo{
     margin: 0 auto;
     width: 130px; 
  }
  .mb_logo img{
    width: 100%;
  }
  .menu_btn{
    width: 40px;
    height: 40px;
    /* background-color:rgb(255, 255, 255); */
    display: block;
    position: absolute;
    top: 30px;
    right: 10px;
  }
  .menu_btn span{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
  }
  .menu_btn::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: #aaa;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #aaa,
    0px -8px 0px #aaa;
  }
  .mb_nav{
    width: 30%;
    height: 100vh;
    background-color: #3c9b9b;
    box-shadow: -50px 0 50px -50px rgba(0, 0, 0, 0.672);
    position: absolute;
    top: 100px;
    right: -200%;
    transition: .5s;
  }
  .mb_nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    /* border-bottom: 1px solid aqua; */
  }
  #menu_control:checked ~ .header nav{
    right: 0;
  }

/* 桌機nav */
nav {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;
    z-index: 999;
}

.nav-logo {
    height: 100px;
    /* width: 20%; */
    min-width: 130px;
    max-width: 150px;

}

.nav-links a {
    text-decoration: none;
    color: #3C9B9B;
    border-bottom: 1px solid transparent;
}

.link-left a:hover,
.link-right a:hover {
    color: #097373;
    border-bottom: 1px solid #097373;
}

.logo-wrap img {
    margin: 0 auto;
}

.icons-group {
    right: 10%;
    top: 50px;
}

.icons-group i {
    /* color: #3C9B9B; */
    font-size: 30px;
    transform: translateY(-50%);
}
.fb-icon,.ig-icon,.line-icon{
font-size: 0;
}
/* .menu {
    width: 80px;
    text-align: center;
}

.menu-bar>a {
    text-decoration: none;

}

.menu-bar i {
    color: #3C9B9B;
}

.menu-bar>input {
    display: none;
}

ul {
    display: none;
    list-style: none;
}

label {
    display: block;
}

/* #burger:checked + ul{
display:block;
} */

/* input {
    display: none;
} */


/* 輪播牆 照片會爆 */
.bannerbox {
    width: 100%;
    height: 100vh;
}

#carouselExampleIndicators {
    height: 100%;

}

.carousel-inner,
.carousel-item,
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ABOUT */
.about {
    background-color: #87C8C8;
}

.orange {
    color: #D95F43;
}

.about-title {
    text-align: center;
    color: #097373;
    letter-spacing: .48rem;
}

.about-title h1 {
    font-weight: 1000;
}

@media screen and (min-width: 768px) {

    .about-title {
        position: absolute;
        bottom: -165px;
        left: 0;
    }

    .about-title h1 {
        font-size: 150px;
    }

    .about-content {
        position: relative;
    }
    .abouttext h4 {
        font-size: 40px;
    }
}

.chen-img-wrap {
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    background: url(./images/about.jpg) center center no-repeat;
    background-size: cover;
}

.abouttext h4 {
    font-size: 18px;
    font-weight: 500;
    color: #097373;
    line-height: 1.5;
    margin-bottom: 10px;
}

.abouttext p {
    font-size: 15px;
    color: #097373;

}

.icon1-wrap {
    animation: toast 2s ease-out infinite;
    bottom: 100px;

}
@keyframes toast {
    0% , 100% {
        transform: scale(1) rotate(30deg);
    }

    50% {
        transform: scale(0.8)  rotate(60deg);
    }


}

.icon2-wrap {
right: 1200px;
bottom: 40px;
animation: bread 2s ease-in-out infinite;
}

@keyframes bread {
    0% , 100% {
        transform: scale(1) rotate(0deg) translateY(30px);
    }

    50% {
        transform: scale(1);
        transform: rotate(-10deg);
    }

}
.icon3-wrap {
    right: 700px;
    bottom: 400px;
    /* opacity: .5; */
  
}


/* BREAD */
.bread-title {
    text-align: center;
    color: #097373;
    letter-spacing: .48rem;
}

.bread-title h1 {
    font-weight: 1000;
}
.collection{
    color: #097373;
    border: 1px solid #097373;
    display:inline-flex;
    margin: 0 auto;
    


}

@media screen and (min-width: 768px) {
.bread-title>h1{
    writing-mode: vertical-lr;
    font-size: 150px;

}
.bread-title {
    position: absolute;
    top: 10px;;
    left:-147px ;
}
}

.product-card{
    overflow: hidden;
    /* border-radius: 50%; */
}
.product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



    

/* Ken */
/* label.burger {
    position: relative;
}

.burger-ken {
    width: 15px;
    height: 3px;
    background-color: #097373;
    z-index: 10000;
}

.burger-ken::before {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    background-color: #097373;
    position: absolute;
    top: -5px;
}

.burger-ken::after {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    background-color: #097373;
    position: absolute;
    top: 5px;
}

body {
    position: relative;
}

.menubuttonKen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: #09737396;
    position: absolute;
    top: 0;
    z-index: 9999;
    transform: translateX(-2000px);
    transition: all 1s;
}

.activeKen {
    transform: translateX(0);
} */

/* End */