* {
   
}


body{
    background-color:#d4cbb2d4;
}

/* 桌機nav */
nav {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;
    z-index: 9;
    transition:.5s ;
}
.hidden{
    transform: translateY(-100px);
}


.nav-logo {
    height: 100px;
    /* width: 20%; */
    min-width: 130px;
    max-width: 150px;

}

.nav-links a {
    text-decoration: none;
    color: #3C9B9B;
    border-bottom: 1px solid transparent;
}

.link-left a:hover,
.link-right a:hover {
    color: #097373;
    border-bottom: 1px solid #097373;
}

.logo-wrap img {
    margin: 0 auto;
}

.icons-group {
    right: 10%;
    top: 50px;
}

.icons-group i {
    font-size: 30px;
    transform: translateY(-50%);
}
.fb-icon,.ig-icon,.line-icon{
font-size: 0;
}

/* 漢堡選單 */
#menu_control{
    position: absolute;
    z-index: -2;
    opacity: 0;
  }
  .header{
    height: 100px;
    background-color:  #ffffff;;
    position: relative;
  }
  .mb_logo{
     margin: 0 auto;
     width: 130px; 
  }
  .mb_logo img{
    width: 100%;
  }
  .menu_btn{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 30px;
    right: 10px;
  }
  .menu_btn span{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
  }
  .menu_btn::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: #aaa;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #aaa,
    0px -8px 0px #aaa;
  }
  .mb_nav{
    width: 30%;
    height: 100vh;
    background-color: #3c9b9b;
    box-shadow: -50px 0 50px -50px rgba(0, 0, 0, 0.672);
    position: absolute;
    top: 100px;
    right: -200%;
    transition: .5s;
  }
  .mb_nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    /* border-bottom: 1px solid aqua; */
  }
  #menu_control:checked ~ .header nav{
    right: 0;
  }

/* scrollbar */
.bannerbox{
    position: relative;
}
.scrollbar{
    display: block;
    position: absolute;
    bottom: 15px;
    right: auto;
    top: auto;
    z-index: 9999;
    width: 80px;
    left: calc(50% - 40px);
}
  .scrolltext{
    color:#ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .12rem;
    z-index: 9999;
    margin-bottom: 2px;
    animation: scroll-slide 2s ease infinite; 
  }
  .scrollline {
    width: 1px;
    height: 65px;
    left: 50%;
    bottom: 100px;
    right: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin: auto;
    z-index: 9999;
    animation: scroll-slide 2s ease infinite;
  }

  @keyframes scroll-slide {

    0%{
        transform: translateY(0);
        /* opacity: 1; */
    }
    50%{
        transform: translateY(10px);
        /* opacity: 0; */
    }
    100%{
        transform: translateY(0px);
        /* opacity: 0; */
    }
    
  }
/* 手機板圖片需要調整 */
.nav-link{
    width: 130px;
}
  .bannerbox{
    width: 100%;
    height: 100vh;
    background: url(./images/279269663_1331033440641740_7176993009613511456_n.jpg) no-repeat;
    background-size: cover;
    -webkit-background-clip: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);;
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  }
  @media screen and (max-width: 768px) {

    .bannerbox{
        width: 100%;
        height: 100vh;
        background: url(./images/279269663_1331033440641740_7176993009613511456_n.jpg) -600px no-repeat;
        background-size: cover;
        -webkit-background-clip: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);;
        clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
      }

  }


  

/* .menu {
    width: 80px;
    text-align: center;
}

.menu-bar>a {
    text-decoration: none;

}

.menu-bar i {
    color: #3C9B9B;
}

.menu-bar>input {
    display: none;
}

ul {
    display: none;
    list-style: none;
}

label {
    display: block;
}

/* #burger:checked + ul{
display:block;
} */

/* input {
    display: none;
} */



/* ABOUT */
.about {
    /* border: 1px solid red; */
    margin-top: 72px;
  
}

.orange {
    color: #D95F43;
}

.about-title {
    font-size: 2.5rem;
    /* text-align: center; */
    color: #097373;
    letter-spacing: .48rem;
}

.about-title h1 {
    font-weight: 1000;
}

.abouttext h4 {
    /* text-align: center; */
    font-size: 16px;
    font-weight: 500;
    color: #3F3F3F;
    line-height: 1.5;
    margin-bottom: 10px;
}

.abouttext p {
    /* text-align: center; */
    font-size: 14px;
    color: #3F3F3F;
    line-height: 1.5;
    
}

@media screen and (min-width: 768px) {
.abouttext h4 {
    font-size: 18px;
}

.abouttext p {
    font-size: 16px;
}
}

.abouttext{
    margin-top: 16px;
}

/* @media screen and (min-width: 768px) {

    .about-title {
        position: absolute;
        bottom: -165px;
        left: -150px;
    }

    .about-title h1 {
        font-size: 150px;
    }

    .about-content {
        position: relative;
    }
    .abouttext h4 {
        font-size: 40px;
    }
} 

*/


.chen-img-wrap {
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    margin: 0 auto;
}


.icon1-wrap {
    animation: toast 2s ease-out infinite;
    left: 0;
    bottom: 100px;

}
@keyframes toast {
    0% , 100% {
        transform: scale(1) rotate(30deg);
    }

    50% {
        transform: scale(0.8)  rotate(60deg);
    }


}

.icon2-wrap {
right: 1200px;
bottom: 40px;
animation: bread 2s ease-in-out infinite;
}

@keyframes bread {
    0% , 100% {
        transform: scale(1) rotate(0deg) translateY(30px);
    }

    50% {
        transform: scale(1);
        transform: rotate(-10deg);
    }

}
.icon3-wrap {
    right: 50px;
    bottom: -600;
    /* opacity: .5; */
  
}
.icon4-wrap{
    right: -50px;
    bottom: 0;

}


/* BREAD */
.bread{
    /* border: 1px solid red; */
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.877);
}

.bread-title {
    text-align: center;
    color: #097373;
    letter-spacing: .48rem;
}

.bread-title h1 {
    font-weight: 1000;
}
.collection{
    color: #097373;
    border: 1px solid #097373;
    display:inline-flex;
    margin: 0 auto;
    
}

@media screen and (min-width: 768px) {
.product-card{
    overflow: hidden;
    /* border-radius: 50%; */
}
.product-card img{
    width: 100%;
    height: 100%;
}

.sourdough .img-wrap{
    width: auto;
    height: 75%;
    overflow: hidden;
}
}

.sour-content{
    width: 20%;
    height: 100%;
    background-color: #0000003c;
    color: #fff;
    left: 100px;
}

.sour-content>h3{
    letter-spacing: 0.5rem;

    font-weight: 800;
}
.sour-content .check{
    width: 30px;
    height: 30px;
    font-size: 0;
}
.checktext{
    /* border: 1px solid red; */
    font-size: 20px;
}
.fa-regular{
    font-size: 0;
}



.top{
    color: #fff;
    background-color:#87C8C8;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 40px;
    bottom: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
    

/* Ken */
/* label.burger {
    position: relative;
}

.burger-ken {
    width: 15px;
    height: 3px;
    background-color: #097373;
    z-index: 10000;
}

.burger-ken::before {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    background-color: #097373;
    position: absolute;
    top: -5px;
}

.burger-ken::after {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    background-color: #097373;
    position: absolute;
    top: 5px;
}

body {
    position: relative;
}

.menubuttonKen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: #09737396;
    position: absolute;
    top: 0;
    z-index: 9999;
    transform: translateX(-2000px);
    transition: all 1s;
}

.activeKen {
    transform: translateX(0);
} */

/* End */