* {
  font-family: 'Noto Serif TC', serif;
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: #fff;

}
h1{
  font-weight: 900;
}

/* 桌機nav */
nav {
  background-color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: 0.5s;
}
.hidden {
  transform: translateY(-100px);
}

.nav-logo {
  height: 100px;
  width: 20%;
  min-width: 110px;
  max-width: 150px;
}

.nav-links a {
  text-decoration: none;
  color: #3c9b9b;
  border-bottom: 1px solid transparent;
}

.link-left a:hover,
.link-right a:hover {
  color: #097373;
  border-bottom: 1px solid #097373;
}

.logo-wrap img {
  margin: 0 auto;
}

.icons-group {
  right: 10%;
  top: 50px;
}

.icons-group i {
  font-size: 30px;
  transform: translateY(-50%);
}
.fb-icon,
.ig-icon,
.line-icon {
  font-size: 0;
}


#menu_control {
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.menu_btn {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 40px;
  right: 30px;
}
.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}
.menu_btn::before {
  content: '';
  position: absolute;
  height: 2px;
  left: 2px;
  width: 36px;
  background-color: #aaa;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 8px 0px #aaa, 0px -8px 0px #aaa;
}
.mb_nav {
  width: 100px;
  height: 100vh;
  background-color: #3c9b9b;
  box-shadow: -50px 0 50px -50px rgba(0, 0, 0, 0.672);
  position: absolute;
  top: 100px;
  right: -20px;
  transition: 0.5s;
  /* z-index: 100; */
  /* transform-origin: 0% 0%; */
  transform: translatex(1000%);
  /* transition: transform 0.5s cubic-bezier(0.077, 0.2, 0.05, 1.0); */

}
.mb_nav a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;

}
#menu_control:checked ~ .header nav {
  right: 0;
}

/* scrollbar */
.bannerbox {
  position: relative;
  margin-bottom: 80px;
}
.scrollbar {
  display: block;
  position: absolute;
  bottom: 15px;
  right: auto;
  top: auto;
  z-index: 9999;
  width: 80px;
  left: calc(50% - 40px);
}
.scrolltext {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.12rem;
  z-index: 9999;
  margin-bottom: 2px;
  animation: scroll-slide 2s ease infinite;
}
.scrollline {
  width: 1px;
  height: 65px;
  left: 50%;
  bottom: 100px;
  right: auto;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 9999;
  animation: scroll-slide 2s ease infinite;
}

@keyframes scroll-slide {
  0% {
    transform: translateY(0);
    /* opacity: 1; */
  }
  50% {
    transform: translateY(10px);
    /* opacity: 0; */
  }
  100% {
    transform: translateY(0px);
    /* opacity: 0; */
  }
}
/* 手機板圖片需要調整 */
.nav-link {
  width: 130px;
}
.bannerbox {
  width: 100%;
  height: 100vh;
  height: calc(100vh - 30px);
  background: url(./images/home.png)
    no-repeat;
  background-size: cover;
  -webkit-background-clip: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
@media screen and (max-width: 768px) {
  .bannerbox {
    width: 100%;
    height:100vh;
    background: url(./images/home.png) -300px 
      no-repeat;
    background-size: cover;
    -webkit-background-clip: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  }
}

/* ABOUT */
.aboutbox{
  background-color: #87c8c8;
  padding: 80px 0;
  /* transition: .5s; */
}
.about-content{
  transition: .5s;
}

@media screen and (max-width: 768px) {
  .aboutbox{
    padding: 0;
  }
}


.orange{
  color: rgba(217, 95, 67, 1);
}
.about-title {
  text-align: center;
  color: rgba(9, 115, 115, 1);
  letter-spacing: 0.48rem;
  /* font-weight: 900; */
}

.abouttext h4 {
  font-size: 16px;
  /* font-weight: 500; */
  color: #fff;
  line-height: 1.5;
}
.abouttext i{
  color: #D95F43;
  font-size: 20px;
}

.abouttext p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}


@media screen and (max-width: 376px) {
  .abouttext {
    text-align: center;
  }


}
@media screen and (min-width: 768px) {
  .abouttext i{
    color: #D95F43;
    /* font-size: 20px; */
  }
  
  .about-title {
    position: absolute;
    right: -20px;
    bottom: -140px;
  }
  .about-title h1 {
    font-size: 100px;
    line-height: 120%;
    font-weight: 900;
  }


  .abouttext h4 {
    font-size: 18px;
    padding: 22px 0px;
  }
  .abouttext p {
    font-size: 16px;
  }
}

.icon1-wrap {
  animation: toast 2s ease-out infinite;
  left: 0;
  bottom: 100px;
}
@keyframes toast {
  0%,
  100% {
    transform: scale(1) rotate(30deg);
  }

  50% {
    transform: scale(0.8) rotate(60deg);
  }
}

.icon2-wrap {
  right: 1200px;
  bottom: 40px;
  animation: bread 2s ease-in-out infinite;
}

@keyframes bread {
  0%,
  100% {
    transform: scale(1) rotate(0deg) translateY(30px);
  }

  50% {
    transform: scale(1) rotate(-10deg);
  }
}
.icon3-wrap {
  right: 50px;
  bottom: -600;
  /* opacity: .5; */
}
.icon4-wrap {
  right: -50px;
  bottom: 0;
}

/* BREAD */
.bread {
  background-color: rgba(255, 255, 255);
  padding: 80px 0;
}


@media screen and (max-width: 768px) {
  .bread {
    padding: 0;
  }
}

.bread-title {
  text-align: center;
  color: rgba(9, 115, 115, 1);
  letter-spacing: 0.48rem;
  font-weight: 900;
  transition: .5s;
}

.collection {
  color: #097373;
  border: 2px solid #097373;
  display: inline-flex;
  margin: 0 auto;
  padding: 8px 20px;
}

@media screen and (min-width: 768px) {

  .bread-title {
    position: absolute;
  }
  .bread-title h1 {
    writing-mode: vertical-rl;
    font-size: 100px;
    line-height: 120%;
  }

  .product-card {
    overflow: hidden;
  }
  .product-card img {
    width: 100%;
    height: 100%;
  }

}


  /* 酸種麵包好處 */
/* 手機 */
.sour-text-box  p{
  font-size: 16px;
  
}
.mb-sourdough-box{
  position: relative;
  background-color:#87c8c8;
  transition: .5s;
}
.mb-sourdough-img-wrap{
  width: 200px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  left: 90px;
  bottom:-40px;

}
.mb-sourdough-img-wrap img{
  object-fit: cover;
}

.mb-sourdough{

  /* width: 80%; */
  /* height:300px; */
  margin: 0 auto;
  
}
.mb-check{
  width: 20px;
  height: 20px;
  font-size: 0;
}
.mb-sourdough .title{
/* font-size: 20px; */
color:#097373;
font-weight:bold;
text-align: center;
}
.mb-sourdough .icon-wrap1{
  width: 30px;
  transform: rotate(-30deg);
  opacity: .5;
  position: absolute;
  left: 30px;
  bottom: 100px;

}

.mb-sourdough .icon-wrap2{
  width: 40px;
  transform: rotate(30deg);
  opacity: .5;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.sour-text-box{
  width: 160px;
  margin: 0 auto;
  color: #fff;
}

/* 桌機 */
.sourdough{
  margin: 80px 0;
  transition: .5s;

}
  .sourdough .img-wrap {
    width: auto;
    /* height: 75%; */
    overflow: hidden;
  }

.sour-content {
  width: 25%;
  height: 100%;
  background-color: #0000005e;
  color: #fff;
  left: 200px;
}

.sourdough  > h3 {
  font-size: 40px;
  font-weight: 700;
  color: #FFF;
  z-index: 99;
  left:250px;
  top: 30px;

}
.sour-content .check {
  width: 30px;
  height: 30px;
  font-size: 0;
}
.checktext {
  font-size: 20px;
}
/* .mb-taste{
  padding: 80px 0;
} */
.mb-crisp-card{
  margin: 0 auto;
  text-align: center;
  transition: .5s;
}
.mb-crisp-card h4{
  background-color: #3c9b9b;
  color: #FFF;
  display: inline;
  padding: 0 10px;
}
.mb-soft-card{
  margin: 0 auto;
  text-align: center;
  transition: .5s;

}
.mb-soft-card h4{
  background-color: #D95F43;
  color: #FFF;
  display: inline;
  padding: 0 10px;
}

.mb-crisp{
  width: 100%;
  background: url(./images/e1acc1e18f4c5c05ed1f63195dfa2216.jpeg) center center no-repeat;
  /* background-size: contain; */
  padding-top: 80%;
  margin: 0 auto;

}
.mb-crisp-detail{
  background-color:#3c9b9be2;
  color: #FFF;
  margin: 0 auto ;
  padding: 25px;
  width: 70%;
  /* z-index: 2; */
  top: 120px;
  left: 56px;

}
.mb-soft-card{
  padding-top: 200px;
}

.mb-soft{
  background: url(./images/taste-soft-bg.png) center center /cover no-repeat;
  /* background-size: contain; */
  padding-top: 80%;
  margin: 16px auto;

}
.mb-soft-detail{
  background-color: #d95f43ed;
  color: #FFF;
  margin: 0 auto ;
  padding: 25px;
  width: 70%;
  top: 190px;
  left: 56px;

}


.taste{
 transition: .5s;
  padding:20px 0 80px;
}
.taste>h4{
   color: rgba(0, 0, 0, 0.8);

}
.enjoy{
    color: #097373;
    border: 2px solid #097373;
    display: inline-flex;
    margin: 0 auto;
    padding: 8px 20px;
}
.hover-box{
padding: 30px;
}
.crisp-card{
  background-color:#097373;
  color: #fff;
  border-radius:5%;
  width: 250px;
  height: 350px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.702);
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: .5s;
}
.crisp-card>div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  backface-visibility: hidden;

}
.hover-box1:hover .crisp-card{
  transform: rotateY(180deg);
}



.crisp-front{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bread-icon{
  position: absolute;
  top: 200px;
  right: 200px;
  transform: rotate(30deg);
  opacity: .5; 
 
}
@keyframes breadmove {
  0%,
  100% {
    transform: scale(1) ;
  }

  50% {
    transform: scale(0.8) ;
  }
}


.bread-icon2{
  position: absolute;
  top: 10px;
  left: 200px;
  transform: rotate(15deg);
  opacity: .5; 
  animation: breadmove 2s ease-in-out infinite;
}
.crisp-back{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(180deg);
  justify-content: center;

}


.crisp-back h5, .soft-back h5{
  /* border-bottom:2px solid #fff ; */
  font-weight: bold;
}
.crisp-back p, .soft-back p{
  font-weight: lighter;
  /* font-size: 16px; */

}
.crisp-back span{
  border-bottom:1px solid #fff ;
}

/* hover位移 */
/* .crisp-card :hover{
  background-color:#3c9b9b;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.357);
  transform: translateY(-20px);
} */

.soft-card{
  background-color:#D95F43;
  color: #fff;
  border-radius:5%;
  width: 250px;
  height: 350px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.702);
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: .5s;
}

.soft-card > div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  backface-visibility: hidden;

}

.soft-front{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bread-icon3{
  position: absolute;
  top: 200px;
  right: 170px;
  transform: rotate(10deg);
  opacity: .5; 
  animation: breadmove2 2s ease-in-out infinite;
}

@keyframes breadmove2 {
  0%,
  100% {
    transform: translateY(20px) ;
  }

  50% {
    transform: translateY(30px) ;
  }
  
}


.bread-icon4{
  position: absolute;
  top: 10px;
  right: -30px;
  transform: rotate(45deg);
  opacity: .5; 
}


.soft-back{
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(180deg);

}

.hover-box2:hover .soft-card{
  transform: rotateY(180deg);
}


.soft-card:hover .soft-back {
  animation: fadeIn .3s;
  animation-delay: .2s;
  animation-fill-mode: backwards;
}
.crisp-card:hover .crisp-back {
  animation: fadeIn .3s;
  animation-delay: .2s;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px) rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateY(180deg)
  }
}


.footer{

  margin: 80px 0 0;
  background-color: #87c8c8;
  width: 100%;

}

.Copyright{
  color: #fff;
  text-align: center;
  background-color: #3c9b9b;
}


.footer-title{
  color: rgba(9, 115, 115, 1);
  letter-spacing: 0.48rem;
  top: -40px;
  left: 10px;

}
.footer-content{
  color: #fff;
}
.footer-icons a{
  font-size: 0;
}
.footer-icons i{
color: #fff;
font-size: 30px;
}
.map {
  height: 300px;
  margin: 20px auto;
}
@media screen and (max-width: 768px) {
  .footer{
padding: 50px 0;
  }

}


@media screen and (min-width: 768px) {
  .footer{
    position: relative;
  }

  .footer-title h1{
    color: rgba(9, 115, 115, 1);
    font-size: 100px;
    line-height: 120%;
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: -70px;

  }

}



.top {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 40px;
  bottom: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}
