* {
  font-family: 'Noto Serif TC', serif;
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: #fff;

}
h1{
  font-weight: 900;
}

/* 桌機nav */
nav {
  background-color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: 0.5s;
}
.hidden {
  transform: translateY(-100px);
}

.nav-logo {
  height: 100px;
  width: 20%;
  min-width: 130px;
  max-width: 150px;
}

.nav-links a {
  text-decoration: none;
  color: #3c9b9b;
  border-bottom: 1px solid transparent;
}

.link-left a:hover,
.link-right a:hover {
  color: #097373;
  border-bottom: 1px solid #097373;
}

.logo-wrap img {
  margin: 0 auto;
}

.icons-group {
  right: 10%;
  top: 50px;
}

.icons-group i {
  font-size: 30px;
  transform: translateY(-50%);
}
.fb-icon,
.ig-icon,
.line-icon {
  font-size: 0;
}

/* 漢堡選單 */
.mb-ham{
  overflow: hidden;
}
#menu_control {
  position: absolute;
  z-index: -2;
  opacity: 0;
}
.header {
  height: 100px;
  background-color: #ffffff;
  position: relative;
}
.mb_logo {
  margin: 0 auto;
  width: 130px;
}
.mb_logo img {
  width: 100%;
}
.menu_btn {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 30px;
  right: 10px;
}
.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}
.menu_btn::before {
  content: '';
  position: absolute;
  height: 2px;
  left: 2px;
  width: 36px;
  background-color: #aaa;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 8px 0px #aaa, 0px -8px 0px #aaa;
}
.mb_nav {
  width: 30%;
  height: 100vh;
  background-color: #3c9b9b;
  box-shadow: -50px 0 50px -50px rgba(0, 0, 0, 0.672);
  position: absolute;
  top: 100px;
  right: -200%;
  transition: 0.5s;
  z-index: 500;

}
.mb_nav a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;

}
#menu_control:checked ~ .header nav {
  right: 0;
}

/* scrollbar */
.bannerbox {
  position: relative;
  margin-bottom: 80px;
}
.scrollbar {
  display: block;
  position: absolute;
  bottom: 15px;
  right: auto;
  top: auto;
  z-index: 9999;
  width: 80px;
  left: calc(50% - 40px);
}
.scrolltext {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.12rem;
  z-index: 9999;
  margin-bottom: 2px;
  animation: scroll-slide 2s ease infinite;
}
.scrollline {
  width: 1px;
  height: 65px;
  left: 50%;
  bottom: 100px;
  right: auto;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 9999;
  animation: scroll-slide 2s ease infinite;
}

@keyframes scroll-slide {
  0% {
    transform: translateY(0);
    /* opacity: 1; */
  }
  50% {
    transform: translateY(10px);
    /* opacity: 0; */
  }
  100% {
    transform: translateY(0px);
    /* opacity: 0; */
  }
}
/* 手機板圖片需要調整 */
.nav-link {
  width: 130px;
}
.bannerbox {
  width: 100%;
  /* height: 100vh; */
  height: calc(100vh - 30px);
  background: url(./images/IMG_1256.JPG)
    no-repeat;
  background-size: cover;
  -webkit-background-clip: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
@media screen and (max-width: 768px) {
  .bannerbox {
    width: 100%;
    height:calc(100vh - 150px);
    background: url(./images/IMG_1256.JPG) -300px 
      no-repeat;
    background-size: cover;
    -webkit-background-clip: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  }
}

/* ABOUT */


.aboutbox{
  background-color: #87c8c8;
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  .aboutbox{
    padding: 0;
  }
}


.orange{
  color: rgba(217, 95, 67, 1);
}
.about-title {
  text-align: center;
  color: rgba(9, 115, 115, 1);
  letter-spacing: 0.48rem;
  /* font-weight: 900; */
}

.abouttext h4 {
  font-size: 16px;
  /* font-weight: 500; */
  color: #fff;
  line-height: 1.5;
}

.abouttext p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}


@media screen and (max-width: 376px) {
  .abouttext {
    text-align: center;
  }


}
@media screen and (min-width: 768px) {
  .about-title {
    position: absolute;
    right: -200px;
    bottom: -140px;
  }
  .about-title h1 {
    font-size: 100px;
    line-height: 120%;
    font-weight: 900;
  }


  .abouttext h4 {
    font-size: 16px;
    padding: 22px 0px;
  }
  .abouttext p {
    font-size: 16px;
  }
}

.icon1-wrap {
  animation: toast 2s ease-out infinite;
  left: 0;
  bottom: 100px;
}
@keyframes toast {
  0%,
  100% {
    transform: scale(1) rotate(30deg);
  }

  50% {
    transform: scale(0.8) rotate(60deg);
  }
}

.icon2-wrap {
  right: 1200px;
  bottom: 40px;
  animation: bread 2s ease-in-out infinite;
}

@keyframes bread {
  0%,
  100% {
    transform: scale(1) rotate(0deg) translateY(30px);
  }

  50% {
    transform: scale(1);
    transform: rotate(-10deg);
  }
}
.icon3-wrap {
  right: 50px;
  bottom: -600;
  /* opacity: .5; */
}
.icon4-wrap {
  right: -50px;
  bottom: 0;
}

/* BREAD */
.bread {
  background-color: rgba(255, 255, 255);
  padding: 80px 0;
}


@media screen and (max-width: 768px) {
  .bread {
    padding: 0;
  }
}

.bread-title {
  text-align: center;
  color: rgba(9, 115, 115, 1);
  letter-spacing: 0.48rem;
  font-weight: 900;
}

.collection {
  color: #097373;
  border: 2px solid #097373;
  display: inline-flex;
  margin: 0 auto;
  padding: 8px 20px;
}

@media screen and (min-width: 768px) {

  .bread-title {
    position: absolute;
  }
  .bread-title h1 {
    writing-mode: vertical-rl;
    font-size: 100px;
    line-height: 120%;
  }

  .product-card {
    overflow: hidden;
  }
  .product-card img {
    width: 100%;
    height: 100%;
  }

}


  /* 酸種麵包好處 */
/* 手機 */
.mb-sourdough-box{
  background-color: #fff;
  position: relative;
}
.mb-sourdough-img-wrap{
  width: 200px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  left: 90px;
  bottom:-40px;
  /* border: 1px solid red; */
}
.mb-sourdough-img-wrap img{
  /* height: 100%; */
  object-fit: cover;
}

.mb-sourdough{
  background-color:#3c9b9bb1;
  width: 80%;
  height:350px;
  margin: 0 auto;
  
}
.mb-check{
  width: 20px;
  height: 20px;
  font-size: 0;
}
.mb-sourdough .title{
font-size: 20px;
color:#097373;
font-weight:bold;
text-align: center;
}

.sour-text-box{
  width: 160px;
  margin: 0 auto;
  color: #fff;
}

/* 桌機 */
.sourdough{
  margin: 80px 0;

}
  .sourdough .img-wrap {
    width: auto;
    /* height: 75%; */
    overflow: hidden;
  }

.sour-content {
  width: 20%;
  height: 100%;
  background-color: #0000005e;
  color: #fff;
  left: 200px;
}

.sour-content > h2 {
  font-size: 50px;
  font-weight: 700;

}
.sour-content .check {
  width: 30px;
  height: 30px;
  font-size: 0;
}
.checktext {
  font-size: 20px;
}
.mb-taste{
  padding: 80px 0;
}

.mb-crisp{
  background: url(./images/47f638e0efb3fc677963835e06c178b9.jpeg) center center no-repeat;
  background-size: contain;
  padding-top: 80%;
  margin: 0 auto;

}
.mb-crisp-detail{
  background-color: rgba(0, 0, 0, 0.42);
  color: #FFF;
  margin: 0 auto ;
  padding: 25px;
  width: 70%;
  z-index: 2;
  top: 40px;
  left:40px;

}
.mb-soft-card{
  padding-top: 100px ;
}

.mb-soft{
  background: url(./images/47f638e0efb3fc677963835e06c178b9.jpeg) center center no-repeat;
  background-size: contain;
  padding-top: 80%;
  margin: 0 auto;

}
.mb-soft-detail{
  background-color: #43423fb9;
  color: #FFF;
  margin: 0 auto ;
  padding: 25px;
  width: 70%;
  z-index: 2;
  top:180px;
  left:40px;

}


.taste{
  background-color: #fff;

  /* background: url(./images/bg.jpg) center center no-repeat;
  background-size: cover; */
  padding:80px 0;
}
.taste>h4{
   color: rgba(0, 0, 0, 0.8);

}
.enjoy{
    color: #097373;
    border: 2px solid #097373;
    display: inline-flex;
    margin: 0 auto;
    padding: 8px 20px;
}

.crisp-card{
  background-color:#097373;
  color: #fff;
  border-radius:5%;
  width: 250px;
  height: 350px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.702);
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: .5s;
}
.crisp-card>div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  backface-visibility: hidden;

}

.crisp-card:hover{
  transform: rotateY(180deg);
}

.crisp-front{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bread-icon{
  position: absolute;
  top: 200px;
  right: 200px;
  transform: rotate(30deg);
  opacity: .5; 
 
}
@keyframes breadmove {
  0%,
  100% {
    transform: scale(1) ;
  }

  50% {
    transform: scale(0.8) ;
  }
}


.bread-icon2{
  position: absolute;
  top: 10px;
  left: 200px;
  transform: rotate(15deg);
  opacity: .5; 
  animation: breadmove 2s ease-in-out infinite;
}
.crisp-back{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(180deg);
  justify-content: center;


}


.crisp-back h5, .soft-back h5{
  /* border-bottom:2px solid #fff ; */
  font-weight: bold;
}
.crisp-back p, .soft-back p{
  font-weight: lighter;
  /* font-size: 16px; */

}
.crisp-back span{
  border-bottom:1px solid #fff ;
}

/* hover位移 */
/* .crisp-card :hover{
  background-color:#3c9b9b;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.357);
  transform: translateY(-20px);
} */

.soft-card{
  background-color:#D95F43;
  color: #fff;
  border-radius:5%;
  width: 250px;
  height: 350px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.702);
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: .5s;
}

.soft-card > div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  backface-visibility: hidden;

}

.soft-front{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bread-icon3{
  position: absolute;
  top: 200px;
  right: 170px;
  transform: rotate(10deg);
  opacity: .5; 
  animation: breadmove2 2s ease-in-out infinite;
}

@keyframes breadmove2 {
  0%,
  100% {
    transform: translateY(20px) ;
  }

  50% {
    transform: translateY(30px) ;
  }
  
}


.bread-icon4{
  position: absolute;
  top: 10px;
  right: -30px;
  transform: rotate(45deg);
  opacity: .5; 
}


.soft-back{
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(180deg);

}
.soft-card:hover{
  transform: rotateY(180deg);
}
.footer{
  background-color: #87c8c8;
  width: 100%;

}

.Copyright{
  color: #fff;
  text-align: center;
  background-color: #3c9b9b;
}


.footer-title{
  color: rgba(9, 115, 115, 1);
  letter-spacing: 0.48rem;
  top: -40px;
  left: 10px;

}
.footer-content{
  color: #fff;
}
.footer-icons a{
  font-size: 0;
}
.footer-icons i{
color: #fff;
font-size: 30px;
}
.map {
  height: 300px;
  margin: 20px auto;
}
@media screen and (max-width: 768px) {
  .footer{
padding: 60px 0;
  }

}


@media screen and (min-width: 768px) {
  .footer{
    position: relative;
  }

  .footer-title h1{
    color: rgba(9, 115, 115, 1);
    font-size: 100px;
    line-height: 120%;
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: -70px;

  }

}



.top {
  color: #fff;
  background-color: #097373;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 40px;
  bottom: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Ken */
/* label.burger {
    position: relative;
}

.burger-ken {
    width: 15px;
    height: 3px;
    background-color: #097373;
    z-index: 10000;
}

.burger-ken::before {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    background-color: #097373;
    position: absolute;
    top: -5px;
}

.burger-ken::after {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    background-color: #097373;
    position: absolute;
    top: 5px;
}

body {
    position: relative;
}

.menubuttonKen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: #09737396;
    position: absolute;
    top: 0;
    z-index: 9999;
    transform: translateX(-2000px);
    transition: all 1s;
}

.activeKen {
    transform: translateX(0);
} */

/* End */
